/* ---------- General Styles ---------- */

h1, h2 {
    font-family: 'Roboto', sans-serif;
text-transform: uppercase;
letter-spacing: 2px;
    color: #ffffff;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 5px;
    color: #E09525
}

/* ---------- Colors ---------- */

/* ---------- Nav Bar ---------- */


.navbar {
    margin-top: auto;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    color: blue;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #000;
}

/* ---------- Buttons ----------*/

/* ---------- Guide Image ---------- */
#guide-image {
    height: 600px;
    width: 100%;
    background: url("../images/internet-safety-tips-img-23.jpg") no-repeat center center/cover;
    position: relative;

/* ----------Hero Image -------*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.png") no-repeat center center/cover;
    position: relative;

#cover-text {
    font-size: 500%;
    bottom: 10px;
    width: 200%;
    min-height: 545px;
    padding-top: 2px;
    padding-left: 10px;
    position: absolute;
}


/* ----------- Intro text --------- */

.intro-text {
    text-align: center;
    color: #BC7F15;
    padding-top: 30px;    
}


/* ---------- Footer ---------- */

