body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* featured section */
.row {
    /*background-color: lightblue; */
    width: 100%;
    height: 100%;
}

.col {
    background-color: black;
    width: 100%;
    height: 250px;
    margin: 10px;
    color:white;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: 60%;
    background-size: cover;
}

#blog-icon {
    border: 1px solid white;
    width: fit-content;
    margin: 4px;
}